* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

/* UTILS START */

.mb-10 {
  margin-bottom: 10px;
}

.mt-20 {
  margin-top: 20px;
}

.remove-margins {
  margin: 0px;
}

.invoice-card {
  background-color: #000000c2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 8px;
  padding-top: 18px;
  border-radius: 20px;
  color: #eee;
}

.invoice-card h5 {
  font-weight: bold;
}

.invoice-card h5 span {
  font-size: 14px;
}

/* UTILS END */

/* invoice-new start */
.invoice-new h5 {
  font-weight: bold;
  text-decoration: underline;
}

/* invoice-new end */

/* NAVBAR START */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  background-color: #f4f4f4;
  padding: 10px 30px;
  text-transform: uppercase;
  border-bottom: 3px solid #0000001c;
}

.logo {
  font-size: x-large;
}

.navbar a {
  text-decoration: none;
  color: #000;
}

.navbar a:hover {
  color: rgba(0, 0, 0, 0.637);
  transition: all 0.3s ease-in-out;
}

.navbar ul {
  margin-top: auto;
  margin-bottom: auto;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar li {
  margin-left: 20px;
}

.navbar ul li a {
  color: #000;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
}

.navbar ul li a:hover {
  color: #333;
  border-bottom: 1px solid #333;
}

/* NAVBAR END */
